.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub-title {
  text-transform: uppercase;
  color: var(--main-color);
  position: relative;
  font-size: 14px;
  margin-bottom: 15px;
}
.sub-title::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 3px;
  margin-right: 10px;
  background-color: var(--main-color);
  left: -6px;
  top: 1px;
}
.title {
  font-size: 32px;
  width: 282px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}
@media (min-width: 769px) and (max-width: 992px) {
  .title {
    width: 261px;
  }
}
@media (min-width: 200px) and (max-width: 576px) {
  .title {
    font-size: 26px;
    width: 230px;
    font-weight: 700;
  }
  .sub-title {
    font-size: 12px;
  }
}
